package <%=module%>.mapper;

import <%=module%>.core.mybatis.mapper.CommonDaoMapper;
import <%=module%>.model.<%=className%>;
import org.apache.ibatis.annotations.Mapper;

/**
 * <%=name%> <%=nameCN%>
 *
 * @author <%=author%>
 * @since <%=date%>
 */
@Mapper
public interface <%=className%>BaseMapper extends CommonDaoMapper<<%=className%>> {
}
