<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icepoint.framework.web.system.dao.SpecificTableMapper">


    <select id="findAll" resultType="map">
        ${sql}
    </select>

    <insert id="add">
        ${sql}
    </insert>

    <update id="update">
        ${sql}
    </update>

</mapper>