<!DOCTYPE html>
<html lang="en" xmlns:v-model="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../static/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="../static/axios.js"></script>
</head>
<body>
    <script type="text/javascript" src="../static/vue.js"></script>

    <!-- v-on 事件绑定 -->
    <div id="app">
        <label><input type="text" v-model:value="search.keyword"></label>
        <button v-on:click="searchInfo()">搜索</button>
        <p>{{search.keyword}}</p>
    </div>

    <script>
        let app = new Vue({
            el: '#app',
            data: {
                search: {
                    keyword: 'model'
                }
            },
            methods: {
                searchInfo(){
                    console.log("searchInfo()");
                }
            }
        });
    </script>


</body>
</html>