<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    <form action="/login" method="post">
        <label for="username-label">
            <input id="username-label" name="username" type="text" value="admin">
        </label>
        <br>
        <label for="password-label">
            <input id="password-label" name="password" type="text" value="102850">
        </label>
        <br>
        <label for="submit-label">
            <input id="submit-label" type="submit" value="登陆">
        </label>
    </form>

</body>
</html>