<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icepoint.framework.workorder.work.dao.WorkPlanAssistantMapper">

    <delete id="deleteBatch">
        delete from work_order.work_order_work_plan_assistant
        where work_plan_id in
        <foreach collection="ids" item="id" index="index" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
