<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.tangyi.webcast.mapper.ChannelDeptMapper">


    <sql id="columns">
        a.id,
        a.channel_id AS channelId,
        a.dept_id AS deptId
    </sql>

    <select id="listByDeptIdList" resultType="com.github.tangyi.webcast.api.model.ChannelDept">
        SELECT
        <include refid="columns"/>
        FROM webcast_channel_dept a
        <if test="list != null and list.size() > 0">
            WHERE dept_id IN
            <foreach collection="list" item="deptId" separator="," open="(" close=")">
                #{deptId}
            </foreach>
        </if>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into webcast_channel_dept (
            channel_id,
            dept_id
        ) values (
            #{channelId},
            #{deptId}
        );
    </insert>

</mapper>
